[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mypy = "*"
"flake8" = "*"
pylint = "*"
fortlit = {editable = true, path = "."}
tox = "*"
pytest = "*"

[requires]
python_version = "3.6"
